<ion-content padding>
    <ion-row col-12>
      <img src="../../../assets/img/logo2.png" width="70%" height="70%" class="auto">
    </ion-row>
  
  
    <ion-list class="top">  
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Confirm Password</ion-label>
        <ion-input [(ngModel)]="conpass" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="dark" expand="full" (click)="home()">DONE</ion-button>
  

  </ion-content>