<ion-header>
  <ion-toolbar color="dark">
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content padding>
 
  <ion-card>
    <ion-row class="shadow">
      <h5 class="c">Notification text here </h5>
    </ion-row>
    <ion-row>
      <span class="cc">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      </span>
    </ion-row>
  </ion-card>
</ion-content>