.lan{
    text-align: center;
    color: #035c8d;
    font-weight: 700;
}
.ttop{
    margin-top: 10vw;
}
ion-label.city{
    padding-left: 1.2vw;
    font-weight: 600;
}
.lanColor{
   // background: linear-gradient(to right, #f6921f  0%, #801afe 100%);
}
.avatar{
    display: flex;
    margin: auto;
}

ion-grid.hydrated {
    margin-top: 20vw;
}
ion-button {
    height: 10vh;

   
}
