<ion-content padding>
  <div class="ttop">
    <h4 class="lan">Change Language</h4>
    <h4 class="lan">اختر اللغة</h4>
    <h4 class="lan">Cambiar idioma</h4>
  </div>


  <ion-row>
    <ion-col size="4">
      <ion-button expand="full" Fill="clear" (click)="lang(1)">
        <img src="../../../assets/img/english.png">
        <span class="city">English</span>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="full" Fill="clear" (click)="lang(2)">
        <img src="../../../assets/img/jordan.png">
        <span class="city">العربية</span>
      </ion-button>
    </ion-col>
    <ion-col size="4" >
      <ion-button expand="full" Fill="clear" (click)="lang(3)">
        <img src="../../../assets/img/france.png">
        <span class="city">Francés</span>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>


<ion-footer (click)="done()">
  <ion-toolbar color="dark">
    <ion-title class="footer">Done</ion-title>
  </ion-toolbar>
</ion-footer>