<ion-content padding>

  <div class="first">
    <ion-buttons slot="end">
      <ion-icon name="notifications" class="noti" (click)="notiPage()"></ion-icon>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="4" class="nopadding">
          <div class="circle">
            <img class="avatar" src="../../assets/img/avatar.png">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="nopadding auto">
          <h6 class="name">Tasneem Khalifeh</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-row col-12>
    <img src="../../../assets/img/logo2.png" width="70%" height="70%" class="auto">
  </ion-row>
  <ion-list class="top" lines="none">
    <ion-item>
      <ion-label position="stacked">Full Name </ion-label>
      <ion-input [(ngModel)]="objUserInfo.Data.FullName" name="FullName" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email Address</ion-label>
      <ion-input [(ngModel)]="objUserInfo.Data.EmailAddress" name="EmailAddress" type="email" required
        pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input [(ngModel)]="objUserInfo.Data.PhoneNumber" name="PhoneNumber" type="Number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="objUserInfo.Data.Password" name="Password" type="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Country</ion-label>
      <ionic-selectable [(ngModel)]="country" name="country" [items]="countries" itemValueField="Id"
        itemTextField="CountryName" [canSearch]="true" (onChange)="portChange($event)">

      </ionic-selectable>
    </ion-item>

    <ion-row>
      <ion-col size="2" class="nopadding nomargin">
        <ion-item class="nopadding">
          <ion-checkbox [(ngModel)]="agreed" name="agreed"> </ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="10" class="nopadding nomargin">
        <ion-item>
          <a href="#" target="_self">
            I agree To the terms and condition
          </a>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button color="dark" *ngIf="!allInfo" disabled="true" expand="full" (click)="signUp(confirmPassword)">SIGN UP
    </ion-button>
    <ion-button color="dark" *ngIf="allInfo" expand="full" (click)="signUp(confirmPassword)">SIGN UP</ion-button>

    <ion-row col-12>
      <ion-col size="8">
        <p> Already a Member?</p>
      </ion-col>
      <ion-col size="4" (click)="login();">
        <p>Login here</p>
      </ion-col>
    </ion-row>
</ion-content>