<ion-content padding>
  <ion-row col-12>
    <img src="../../../assets/img/logo2.png" width="70%" height="70%" class="auto">
  </ion-row>
  <ion-list class="top" lines="none">
    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input [(ngModel)]="signUpData.FullName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email Address</ion-label>
      <ion-input [(ngModel)]="signUpData.EmailAddress" type="email" pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input [(ngModel)]="signUpData.PhoneNumber" type="Number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="signUpData.Password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Country</ion-label>
      <select [(ngModel)]="country">
        <option value="-1" selected="selected">---Please Select---</option>
        <option *ngFor="let a of countries" value="{{a.Id}}">{{a.CountryName}}</option>
        </select>

     
    </ion-item>

    <ion-row>
      <ion-col size="2" class="nopadding nomargin">
        <ion-item class="nopadding">
          <ion-checkbox [(ngModel)]="agreed" > </ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="10" class="nopadding nomargin">
        <ion-item>
          <a href="#" target="_self">
            I agree To the terms and condition
          </a>
        </ion-item>
      </ion-col>
    </ion-row>


  </ion-list>
  <ion-button color="dark" expand="full" (click)="signUp(confirmPassword)">SIGN UP</ion-button>
  <ion-row col-12>
    <ion-col size="8">
      <p> Already a Member?</p>
    </ion-col>
    <ion-col size="4" (click)="login();">
      <p>Login here</p>
    </ion-col>
  </ion-row>
</ion-content>