<ion-content>

  <div class="firstColor">

    <div class="first2 nopadding">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
          </ion-col>
          <ion-col size="4" class="nopadding">
            <img src="assets/img/logo.png" class="auto">
          </ion-col>
          <ion-col size="4">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>




    <div class="box2">
      <ion-grid class="nopadding">
        <ion-row>
          <ion-col size="4" offset="4" class="nopadding">
            <div class="circle">
              <!-- <img class="avatar" [src]="userImage" alt="No Profile Image"> -->
              <img class="avatar" src="assets/img/avatar.png" alt="No Profile Image">
              <!-- <img src="{{myphoto}}"> -->
              <ion-icon class="add" name="add-circle" (click)="img();"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="sec2">
      <form [formGroup]="formgroup">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-label position="stacked">{{ trans_FullName }}</ion-label>
            <ion-input *ngIf="!(FullName.hasError('required') && FullName.touched )" formControlName="FullName"
              [(ngModel)]="objUserInfo.Data.FullName" name="FullName" type="text" required></ion-input>
            <ion-input *ngIf="FullName.hasError('required') && FullName.touched" formControlName="FullName"
              name="FullName" [(ngModel)]="objUserInfo.Data.FullName" type="text" required
              placeholder="Enter a valid Name" color="danger" class="error"></ion-input>
          </ion-item>



          <ion-item lines="none">
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input *ngIf="!(EmailAddress.hasError('required') && EmailAddress.touched)"
              formControlName="EmailAddress" [(ngModel)]="objUserInfo.Data.EmailAddress" name="EmailAddress" type="text"
              required></ion-input>
            <ion-input *ngIf="EmailAddress.hasError('required') && EmailAddress.touched" formControlName="EmailAddress"
              [(ngModel)]="objUserInfo.Data.EmailAddress" name="EmailAddress" type="text" required
              placeholder="Enter a valid Name" color="danger" class="error">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input *ngIf="!(PhoneNumber.hasError('required') && PhoneNumber.touched)" formControlName="PhoneNumber"
              [(ngModel)]="objUserInfo.Data.PhoneNumber" name="PhoneNumber" type="Number" required></ion-input>
            <ion-input *ngIf="PhoneNumber.hasError('required') &&
        PhoneNumber.touched" formControlName="PhoneNumber" [(ngModel)]="objUserInfo.Data.PhoneNumber"
              name="PhoneNumber" type="text" required placeholder="Enter a valid Phone Number" color="danger"
              class="error">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">Birthday Date</ion-label>
            <ion-input lines="none" *ngIf="!(birthd.hasError('required') && birthd.touched)" formControlName="birthd"
              [(ngModel)]="objUserInfo.Data.DateOfBirth" name="DateOfBirth" type="date" required></ion-input>
            <ion-input [(ngModel)]="objUserInfo.Data.DateOfBirth" *ngIf="birthd.hasError('required') &&
        birthd.touched" formControlName="birthd" name="birthd" type="date" required
              placeholder="Enter a valid Phone Number" color="danger" class="error">
            </ion-input>
          </ion-item>


          <ion-item lines="none">
            <ion-label position="stacked">Password</ion-label>
            <ion-button fill="clear" class="pass" (click)="showPass(x)">
              <div *ngIf="showPwd">
                <ion-icon (click)="showPass(1)" name="eye" class="eyee" slot="end"></ion-icon>
              </div>
              <div *ngIf="!showPwd">
                <ion-icon (click)="showPass(0)" class="eyee" name="eye-off"></ion-icon>
              </div>
            </ion-button>

            <ion-input class="inputPass" *ngIf="!(Password.hasError('required') && Password.touched) && showPwd"
              formControlName="Password" [(ngModel)]="objUserInfo.Data.Password" name="Password" type="text" required>
            </ion-input>

            <ion-input class="inputPass" *ngIf="!(Password.hasError('required') && Password.touched) && !showPwd"
              formControlName="Password" [(ngModel)]="objUserInfo.Data.Password" name="Password" type="Password"
              required>
            </ion-input>

            <!-- error -->
            <ion-input *ngIf="Password.hasError('required') && Password.touched" formControlName="Password"
              name="Password" [(ngModel)]="objUserInfo.Data.Password" type="text" required
              placeholder="Enter a valid Password" color="danger" class="error">
            </ion-input>
          </ion-item>
          
          <ion-item lines="none">
            <ion-label position="stacked">Gender</ion-label>
            <ion-select formControlName="gender" [(ngModel)]="objUserInfo.Data.Gender" name="Gender">
              <ion-select-option value="1">Male</ion-select-option>
              <ion-select-option value="2">Female</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <ion-item lines="none">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input *ngIf="!(confirmPassword.hasError('required') && confirmPassword.touched)"
          formControlName="confirmPassword" [(ngModel)]="objUserInfo.Data.confirmPassword" name="confirmPassword"
          type="Password" required></ion-input>
        <ion-input *ngIf="confirmPassword.hasError('required') && confirmPassword.touched"
          formControlName="confirmPassword" name="confirmPassword" type="text" required
          placeholder="Enter a valid Password" color="danger" class="error"></ion-input>
      </ion-item> -->
          <ion-item lines="none">
            <ion-label position="stacked">Country</ion-label>
            <ionic-selectable [(ngModel)]="country" name="country" [items]="countries" itemValueField="Id"
              formControlName="countr" itemTextField="CountryName" [canSearch]="true" (onChange)="portChange($event)"
              required>
            </ionic-selectable>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">City</ion-label>
            <ionic-selectable [(ngModel)]="cityId" name="GovernorateId" [items]="cities" itemValueField="GovernorateId"
              formControlName="city" itemTextField="GovernorateName" [canSearch]="true" (onChange)="cityChange($event)"
              required>
            </ionic-selectable>
          </ion-item>
        </ion-list>
        <!-- 
    <ion-button color="dark" type="submit"  disabled expand="full">SIGN UP
    </ion-button> -->
        <ion-row class="top">
          <ion-col size="11" class="auto nopadding">
            <ion-row>
              <ion-col size="1" class="nopadding auto">
                <ion-checkbox formControlName="check" (click)="isValid=!isValid" [(ngModel)]="objUserInfo.Data.agreed"
                  name="agreed"></ion-checkbox>
              </ion-col>
              <ion-col size="11" class="nopadding">
                <a href="https://trst-ins.com/" target="_self">
                  I agree To the terms and condition
                </a>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="11" class="auto nopadding">
            <ion-button color="success" type="submit" expand="full" (click)="signUp()" [disabled]="! isValid"
              class="top">
              SIGN UP
            </ion-button>
          </ion-col>
          <ion-col size="11" class="auto tb">
            <ion-row>
              <ion-col size="8" class="nopadding">
                <span> Already a Member?</span>
              </ion-col>
              <ion-col size="4" (click)="login();" class="nopadding" text-end>
                <span>Login here</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </form>
    </div>

  </div>
</ion-content>