
.top{
    margin-top: 5vw;
} 
a{
    text-decoration: none;
    font-size: 92%;
    margin: auto;
    display: flex;
    padding-left: 1vw;
}
.term{
    padding-left: 1vw
}
ion-checkbox{
    margin: auto;
    place-content: center;
    display: flex
}
.npt{
    padding-top:0px !important;
}
