
.top{
    margin-top: 5vw;
} 
a{
    text-decoration: none;
    font-size: 88%;
    margin: auto;
    display: flex;
    padding-left: 1vw;
    color: #ffffff;
}
.term{
    padding-left: 1vw
}
ion-checkbox{
    margin: auto;
    place-content: center;
    display: flex
}
.tb{
    margin:0px 2vw !important;
}

ion-icon.add{
    color: #428DFF;
    font-size: xx-large;
    right: 13px;
    position: absolute;
    top: 18vw;
}
.box2{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 15%; 
}

