.bLine{
    color:#45629D;
    text-align: center;
    font-size: small;
}
.Bimg{
    margin: auto;
    display: flex;
    width: 40%;
}
.padd{
    padding: 16px 50px;
}
ion-row.hydrated {
    margin: 3% 0;
}
