ion-button{
    height: 30vw;
}
.bLine{
    color:#45629D;
    text-align: center;
    font-size: small;
}
img{
    width: 40px;
    height: 40px;
}
ion-button {
    background-color: #b58b8b;
}
p.bLine{
    word-wrap: break-word;
}