<ion-header>
  <ion-toolbar  class="firstColor">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Line of Business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" (click)="goToHome()">
        <ion-button expand="full" color="medium" class="nomargin">
          <ion-icon class="ii" name="ios-home"></ion-icon>
          <label class="pl2">Home</label>
        </ion-button>
      </ion-col>
      <ion-col size="6" (click)="goToLife()">
        <ion-button expand="full" color="medium" class="nomargin">
          <ion-icon class="ii" name="umbrella"></ion-icon>
          <label class="pl2">Life</label>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" (click)="goToTravel()">
        <ion-button expand="full" color="medium" class="nomargin">
          <ion-icon class="ii" name="jet"></ion-icon>
          <label class="pl2">Travel</label>
        </ion-button>
      </ion-col>
      <ion-col size="6" (click)="goToOffice()">
        <ion-button expand="full" color="medium" class="nomargin">
          <ion-icon class="ii" name="business"></ion-icon>
          <label class="pl2">Office</label>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" (click)="goToPersonalAccidents()">
        <ion-button expand="full" color="medium" class="nomargin">
          <ion-icon class="ii" name="person"></ion-icon>
          <label class="pl2">Personal<br />Accidents</label>
        </ion-button>
      </ion-col>
      <ion-col size="6" (click)="goToMotor()">
        <ion-button expand="full" color="medium" class="nomargin">
          <ion-icon class="ii" name="car"></ion-icon>
          <label class="pl2">Car</label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>