<ion-header>
  <ion-toolbar>
    <ion-title>pa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <table>
      <tr>
        <td>Full Name</td>
        <td><input type="text" [(ngModel)]="objPersonalAccident.Data.FullName" name="FullName" /></td>
      </tr>
      <tr>
        <td>قيمه التغطية</td>
        <td><input type="number" [(ngModel)]="objPersonalAccident.Data.FkTotalamountofinsuredmaximum" name="FkTotalamountofinsuredmaximum" /></td>
      </tr>
      <tr>
        <td>تاريخ الحادث</td>
        <td><input type="date" [(ngModel)]="objPersonalAccident.Data.DateOfBirth" name="DateOfBirth" /></td>
      </tr>
      <tr>
        <td>الأمراض المزمنة</td>
        <td><input type="text" [(ngModel)]="objPersonalAccident.Data.AnyChronicCasesOrPerExistingCases" name="AnyChronicCasesOrPerExistingCases" /></td>
      </tr>
      <tr>
        <td>مدة التغطية </td>
        <td><input type="number" [(ngModel)]="objPersonalAccident.Data.FkPeriodofcover" name="FkPeriodofcover" /></td>
      </tr>
      <tr>
        <td>مكان الأقامة</td>
        <td><input type="number" [(ngModel)]="objPersonalAccident.Data.FkCountryresidence" name="FkCountryresidence" /></td>
      </tr>
      <tr>
        <td> Nationality</td>
        <td><input type="number" [(ngModel)]="objPersonalAccident.Data.FkNationality" name="FkNationality" /></td>
      </tr>
      <tr>
        <td> Unit </td>
        <td><input type="number" [(ngModel)]="objPersonalAccident.Data.NumberOfUnit" name="NumberOfUnit" /></td>
      </tr>
    </table>
    <button ion-button (click)="InsertPersonalAccident()" >Save Data</button>
</ion-content>
