<ion-content>
  <div class="firstColor">

    <div class="first2 nopadding">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col size="6" class="nopadding">
            <img src="assets/img/logo.png" class="auto logoo">
          </ion-col>
          <ion-col size="3">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <div class="secc2 mt">
      <ion-row class="center ">
        <ion-col size="12" class="center nopadding">
          <ion-label  class="rep3 ww">Our Reputation Is Your Insurance</ion-label>
        </ion-col>
        <!-- <ion-col size="12" class="center">
          <span class="rep3">LogIn</span>
        </ion-col> -->
      </ion-row>


      <!-- 
      <div class="centerlight">
        <ion-row class="center">
          <ion-col size="1"></ion-col>
          <ion-col size="1" class="ourCol nopadding">
            <span class="our">OUR</span>
          </ion-col>
          <ion-col size="8" class="nopadding">
            <ion-row>
              <ion-col size="12">
                <span class="rep"> Reputation</span>
              </ion-col>
              <ion-col size="12">
                <span class="rep">Is Your</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="9">
            <span class="rep2">Insutance</span>
          </ion-col>
        </ion-row>
      </div>

      <hr>

      <div class="centerlight">
        <ion-row class="center">
          <ion-col size="1"></ion-col>
          <ion-col size="1" class="ourCol nopadding">
            <span class="our2">OUR</span>
          </ion-col>
          <ion-col size="8" class="nopadding">
            <ion-row>
              <ion-col size="12">
                <span class="rep3"> Reputation</span>
              </ion-col>
              <ion-col size="12">
                <span class="rep3">Is Your</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="9">
            <span class="rep2">Insutance</span>
          </ion-col>
        </ion-row>
      </div>
      <hr> -->

      <form [formGroup]="formgroup">
        <ion-list class="top" lines="none">
          <ion-item lines="none">
            <ion-label class="ww" position="stacked">Email Address</ion-label>
            <ion-input class="ww" *ngIf="!(EmailAddress.hasError('required') && EmailAddress.touched)"
              formControlName="EmailAddress" [(ngModel)]="loginData.Data.EmailAddress" name="EmailAddress" type="text"
              required></ion-input>
            <ion-input class="error ww" *ngIf="EmailAddress.hasError('required') && EmailAddress.touched"
              formControlName="EmailAddress" [(ngModel)]="loginData.Data.EmailAddress" name="EmailAddress" type="text"
              required placeholder="Enter a valid Name" >
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="ww" position="stacked">Password</ion-label>
            <ion-button fill="clear" class="pass" (click)="showPass(x)">
              <div *ngIf="showPwd">
                <ion-icon (click)="showPass(1)" name="eye" class="eyee" slot="end"></ion-icon>
              </div>
              <div *ngIf="!showPwd">
                <ion-icon (click)="showPass(0)" class="eyee" name="eye-off"></ion-icon>
              </div>
            </ion-button>

            <ion-input class="ww inputPass" *ngIf="!(Password.hasError('required') && Password.touched) && showPwd"
              formControlName="Password" [(ngModel)]="loginData.Data.Password" name="Password" type="text" required>
            </ion-input>

            <ion-input class="ww inputPass" *ngIf="!(Password.hasError('required') && Password.touched) && !showPwd"
              formControlName="Password" [(ngModel)]="loginData.Data.Password" name="Password" type="Password" required>
            </ion-input>

            <!-- error -->
            <ion-input class="ww" *ngIf="Password.hasError('required') && Password.touched" formControlName="Password"
              name="Password" [(ngModel)]="loginData.Data.Password" type="text" required
              placeholder="Enter a valid Password" color="danger" class="error">
            </ion-input>
          </ion-item>
        </ion-list>



        <ion-row class="top">
          <ion-col size="11" class="auto nopadding">
            <ion-button color="success" type="submit" expand="full" (click)="LoginUser()" router-direction="backward"
              class="top">
              LOGIN
            </ion-button>
          </ion-col>
          <ion-col size="11" class="auto tb">
            <ion-row>
              <ion-col size="9" class="nopadding" (click)="forgotPss()">
                <ion-label class="ww"> Forgot your Password?</ion-label>
              </ion-col>
              <ion-col size="3" (click)="SignUp();" class="nopadding" text-end>
                <ion-label class="ww">SignUp</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>