<ion-content padding>
  <ion-row col-12>
    <img src="../../../assets/img/logo.png" width="70%" height="70%" class="auto">
  </ion-row>

  <form>
    <ion-list class="top" lines="none">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="loginData.Data.EmailAddress" name="EmailAddress" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="loginData.Data.Password" name="Password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="dark" expand="full" (click)="LoginUser()" router-direction="backward">LOGIN</ion-button>
    <ion-row col-12>
      <ion-col size="8" (click)="forgotPss()">
        <p> Forgot your Password?</p>
      </ion-col>

      <ion-col size="4" (click)="SignUp();">
        <p>SignUp</p>
      </ion-col>
    </ion-row>
  </form>

</ion-content>