<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Quotation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item no-padding color="medium">
      <div class="padding">
        <ion-grid class="nopadding">
          <ion-row>
            <ion-col size="3">
              <img src="assets/img/avatar2.png">
            </ion-col>
            <ion-col size="9" class="nopadding">
              <ion-col size="12">
                <strong>Company Name Here</strong>
              </ion-col>
              <ion-col size="12">
                <p class="plan">Plan name: text here text here text here</p>
              </ion-col>
              <ion-col size="12">
                <ion-footer class="price">
                  Price: 150.50 JOD
                </ion-footer>
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
    <ion-item no-padding color="medium">
      <div class="padding">
        <ion-grid class="nopadding">
          <ion-row>
            <ion-col size="3">
              <img src="assets/img/avatar2.png">
            </ion-col>
            <ion-col size="9" class="nopadding">
              <ion-col size="12">
                <strong>Company Name Here</strong>
              </ion-col>
              <ion-col size="12">
                <p class="plan">Plan name: text here text here text here</p>
              </ion-col>
              <ion-col size="12">
                <ion-footer class="price">
                  Price: 150.50 JOD
                </ion-footer>
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>
  <hr> -->
  <ion-card>

    <ion-row>
      <ion-col size="3">
        <img src="assets/img/avatar2.png">
      </ion-col>
      <ion-col size="9">
        <ion-grid class="nopadding">
          <ion-row>
            <ion-col size="12" class="nopadding">
              <strong>Company Name Here</strong>
            </ion-col>
            <ion-col size="12" class="nopadding">
              <p class="plan">Plan name: text here text here text here ext here text here text here </p>
            </ion-col>
            <ion-footer class="price">
              Price: 150.50 JOD
            </ion-footer>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>