.padding{
    padding: 5px !important;
    width: 100%;
    display: flex;
}
strong{
    color: #0f0f0f
}
.plan{
    color: #4c5061;
    margin: 2px 0;
}
.price{
    text-align: left;
    color: #4c5061;
    font-size: larger;
}
ion-card{
    margin: 0px !important;
}