.padding{
    padding: 5px !important;
    width: 100%;
    display: flex;
}
strong{
    color: #0f0f0f
}
.plan{
    color: #4c5061;
    margin: 2px 0;
}
.price{
    text-align: center;
    color: #464d56;
    margin: auto;
    font-weight: 900;
    font-size: smaller;
}
.borderLeft{
    border-left: 1px solid #8a919a;
    display: flex;
}
ion-row.hydrated {
    padding: 4px;
}

ion-card{
    box-shadow: 0px -4px 2px -5px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.dangerCls{
    color:  #f25454 !important;
}