ion-input{
    background-color: #E7E5F2 !important;
    border-radius: 2vw;
    margin-top: 5px !important;
   z-index: 0 !important;
   padding-left: 20px !important;
}
ion-input.error{
    border: #9a1515 1px solid !important;
    color: #9a1515;
}

ion-radio{
    margin:0 5px !important;
}