<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Life</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formgroup">
    <ion-list class="top" lines="none">

      <ion-item lines="none">
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input *ngIf="!(FullName.hasError('required') && FullName.touched)" formControlName="FullName"
          [(ngModel)]="objLife.Data.FullName" name="FullName" type="text" required></ion-input>
        <ion-input *ngIf="FullName.hasError('required') && FullName.touched" formControlName="FullName" name="FullName"
          type="text" required placeholder="Enter a valid Name" color="danger" class="error"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Date Of Birth</ion-label>
        <ion-input *ngIf="!(DateOfBirth.hasError('required') && DateOfBirth.touched)" formControlName="DateOfBirth"
          [(ngModel)]="objLife.Data.DateOfBirth" name="DateOfBirth" type="date" required></ion-input>
        <ion-input *ngIf="DateOfBirth.hasError('required') && DateOfBirth.touched" formControlName="DateOfBirth"
          name="DateOfBirth" type="date" required placeholder="Enter a valid Name" color="danger" class="error">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Value of Coverage</ion-label>
        <ion-select placeholder="Select" [(ngModel)]="objLife.Data.FkPeriodofcover" name="FkPeriodofcover"
          formControlName="vCoverage">
          <ion-select-option>50.000</ion-select-option>
          <ion-select-option>100.000</ion-select-option>
          <ion-select-option>150.000</ion-select-option>
          <ion-select-option>200.000</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Any pre-existing chronic cases</ion-label>
        <ion-input *ngIf="!(cases.hasError('required') && cases.touched)" formControlName="cases"
          [(ngModel)]="objLife.Data.AnyChronicCasesOrPerExistingCases" name="AnyChronicCasesOrPerExistingCases"
          type="text" required></ion-input>
        <ion-input *ngIf="cases.hasError('required') && cases.touched" formControlName="cases" name="cases" type="text"
          required placeholder="Enter a valid Name" color="danger" class="error"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Period of Cover</ion-label>
        <ion-select placeholder="Select" [(ngModel)]="objLife.Data.FkPeriodofcover" name="FkPeriodofcover"
          formControlName="pCover">
          <ion-select-option>1 Year</ion-select-option>
          <ion-select-option>2 Year</ion-select-option>
          <ion-select-option>3 Year</ion-select-option>
          <ion-select-option>4  Year</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Unit</ion-label>
        <ion-select placeholder="Select" [(ngModel)]="objLife.Data.NumberOfUnit" name="NumberOfUnit"
          formControlName="NumberOfUnit">
          <ion-select-option>1 Unit</ion-select-option>
          <ion-select-option>2 Unit</ion-select-option>
          <ion-select-option>3 Unit</ion-select-option>
          <ion-select-option>4 Unit</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </form>


  <!-- <table>

    <tr>
      <td>Total amount of insured</td>
      <td><input type="number" [(ngModel)]="objLife.Data.FkTotalamountofinsured" name="FkTotalamountofinsured" />
      </td>
    </tr>

  </table>
  <button ion-button (click)="InsertLife()">Click it</button> -->
</ion-content>