.padding16{
    padding: 16px !important;
}
h6.adv {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #888c94;
    line-height: 0.1em;
    margin: 10px 0 20px;
 } 
 
 h6.adv span.advS { 
    color: #888c94;
    background: #f7f8fc;
    padding: 0 10px;
    margin: 0 0 0 6vw;
    font-size: x-small;
 }