<ion-content padding>
  <ion-row col-12>
    <img src="../../../assets/img/logo2.png" width="70%" height="70%" class="auto">
  </ion-row>


  <ion-list class="top">
    <ion-row>


      <h2 class="auto">
        Forget Your Password?
      </h2>
      <span>
        Enter your email below to recive your password reset instructions
      </span>
    </ion-row>

    <ion-item class="top"  lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="dark" (click)="restPass()">RESET MY PASSWORD</ion-button>

</ion-content>