// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
//  @import url('https://fonts.googleapis.com/css?family=Cairo');


@font-face{
    font-family: 'CenturyGothic';
    src: url(assets/font/CenturyGothicRegular.ttf);

    font-family: 'HiraginoSansGBW3';
    src: url(assets/font/HiraginoSansGBW3.ttf);

//     font-family: 'HiraginoSansGB';
//     src: url(assets/font/HiraginoSansGB.ttc);
}
*{
    // font-family: CenturyGothic !important;
     //font-family: HiraginoSansGB !important;
     //font-family: 'Cairo', sans-serif;
     font-family: HiraginoSansGBW3 !important;
}

//First Div 
.first{
    height: 42%;
    border-bottom-left-radius: 60% 40%;
    border-bottom-right-radius: 60% 40%;
}

.first2{
   background-color: #f7f8fc !important;
   height: 24vh !important;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
}
.sec{
    height: 47%;
    margin-top: 19%;
    padding: 0 8vw;
}
.sec2{
    margin-top: 12%;
    padding: 0 8vw;
}

.firstColor {
     ion-list >*{
        --background: linear-gradient(to right, var(--lightB-color) 0%, var(--mediumB-color) 100%) !important;
     }
    background: linear-gradient(to right, var(--lightB-color) 0%, var(--mediumB-color) 100%) !important;
    ion-list{
        background-color: unset !important;
        padding: 0px !important;
    }
 }

 img.avatar {
    display: flex !important;
    margin: auto;
    border-radius: 50%;
}
.circle{
    border: #ffffff 1px solid;
    background-color: #ffffff;
    height: 100%;
    width: 80%;
    border-radius: 50%;
    padding: 5px;
    margin: auto;
}
.name{
    color: #ffffff;
    text-align: center;
    margin-top: 10px !important
}

ion-icon.noti {
    font-size: x-large;
    text-align: center;
    margin: 1vw 3vw 0 auto;
    color: #ffffff;
} 

.label-stacked.sc-ion-label-md-h {
    font-size: 13.8px !important;
}

.auto{
    margin: auto;
}
.nopadding{
    padding: 0px !important;
}
.nomargin{
    margin: 0px !important;
}
.top{
    margin-top: 5vw;
} 
.footer{
    text-align: center;
    font-size: x-large;
}
.pl2{
    padding: 0 0 0 2vw !important;
}

.coverageModal{
    .modal-wrapper{
         height: 40% !important;
         border-radius: 6vw;
         margin: 0 25px;
    }
}
ion-label.inn{
    color:var(--gray333-color) !important;
    text-align: left
}
ion-label.inn2{
    color: var(--gray333-color) !important;
    text-align: left;
}
ion-input , ionic-selectable, ion-select{
   background-color: var(--white-color) !important;
   border-radius: 1vw;
   z-index: 0 !important;
   padding-left: 10px !important; 
   border: 1px solid #d6cccc;
   text-align: left;
   height: 35px !important;
}

ion-input.gray ,  ionic-selectable.gray, ion-select.gray{
    background-color: var(--primary-color) !important;
    color: var(--gray333-color) !important;
    border-radius: 1vw;
    margin-top: 5px !important;
   z-index: 0 !important;
   padding-left: 10px !important; 
   border: 1px solid #d6cccc;
   text-align: left;
   height: 35px !important;
 }

ion-input.error{
    border: #9a1515 1px solid !important;
    color: #9a1515;
}

.native-input {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.searchbar-input.sc-ion-searchbar-md {
    background-color: #fff !important;
    border: 1px solid #e0d0cf !important;
}


.swiper-pagination {
    position: initial !important;
}

  ion-header {
    ion-title.hydrated{
        color: var(--white-color) !important;
    }
    ion-buttons >*{
        color: var(--white-color) !important;
    }
    ion-toolbar{
        --background: linear-gradient(to right, var(--lightB-color) 0%, var(--darkB-color) 100%) !important;
    }     
}



ion-content{
    ion-list{
        padding: 0px !important;
    }
    ion-list >* ,  ion-radio-group *, ion-row >*{
         --background: #F7F8FC !important;
    }

    --background:  #F7F8FC !important;
    }
 

    ion-input.inputPass input.native-input {
        padding-right: 11% !important;
    }

    ion-button.pass{
        position: absolute;
        right: 20px;
        top: 55%;
        margin: 0px;
    }
    
    ion-icon.eyee{
        font-size: 5vw
    }
    .center{
        place-content: center;
        text-align: center;
        display: flex;
    }
    .padding16{
        padding: 16px !important;
    }
    h6.adv {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #888c94;
        line-height: 0.1em;
        margin: 10px 0 20px;
     } 
     
     h6.adv span.advS { 
        color: #888c94;
        background: #f7f8fc;
        padding: 0 10px;
        margin: 0 0 0 6vw;
        font-size: x-small;
     }