// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



@font-face{
    font-family: 'CenturyGothic';
    src: url(../src/assets/font/CenturyGothicRegular.ttf)
}
*{
    font-family: CenturyGothic !important;
}
.inner-scroll.scroll-y{
    background-color: #000000 !important;
}


//First Div 
.first{
    height: 42%;
    border-bottom-left-radius: 60% 40%;
    border-bottom-right-radius: 60% 40%;
}
ion-icon.noti {
    font-size: x-large;
    text-align: center;
    margin: 1vw 3vw 0 auto;
    color: #ffffff;
} 



.auto{
    margin: auto;
}
.nopadding{
    padding: 0px !important;
}
.nomargin{
    margin: 0px !important;
}
.top{
    margin-top: 5vw;
} 
.footer{
    text-align: center;
    font-size: x-large;
}
.pl2{
    padding-left: 2vw;
}

.coverageModal{
    .modal-wrapper{
         height: 40% !important;
         border-radius: 6vw;
         margin: 0 25px;
    }
}