<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Travel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="top" lines="none">
    <ion-item>
      <ion-label position="stacked">Start Date </ion-label>
      <ion-input [(ngModel)]="objTravel.Data.StartDateJourney" name="StartDateJourney" type="date" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">End Date </ion-label>
      <ion-input [(ngModel)]="objTravel.Data.EndDateJourney" name="EndDateJourney" type="date" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Destination Country</ion-label>
      <ionic-selectable name="DestinationId" [items]="countries" itemValueField="Id" itemTextField="CountryName"
        [canSearch]="true" [isMultiple]="true" (onChange)="diagnosisChange($event)">
      </ionic-selectable>
    </ion-item>
    <ion-item detail (click)="addTraveler()">{{traveler}}
      <ion-label>Add a person </ion-label>
    </ion-item>
    <div *ngFor='let item of objTravel.Data.listTravelEntry;let i = index'>
      <ion-item>
        <ion-label position="stacked">FullName</ion-label>
        <ion-input [(ngModel)]="item.fullName" name="FullName" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">DateOfBirth</ion-label>
        <ion-input [(ngModel)]="item.dateOfBirth" name="DateOfBirth" type="date" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nationality</ion-label>
        <ionic-selectable [(ngModel)]="item.nationality" name="Nationality" [items]="countries" itemValueField="Id"
          itemTextField="CountryName" [canSearch]="true">
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">PassportNumber</ion-label>
        <ion-input [(ngModel)]="item.passportNumber" name="PassportNumber" type="number" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CountryOfResidence</ion-label>
        <ionic-selectable [(ngModel)]="item.countryOfResidence" name="CountryOfResidence" [items]="countries"
          itemValueField="Id" itemTextField="CountryName" [canSearch]="true">
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">PassportExpireDate</ion-label>
        <ion-input [(ngModel)]="item.passportExpireDate" name="PassportExpireDate" type="date" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">PictureOfPassport</ion-label>
        <ion-input [(ngModel)]="item.pictureOfPassport" name="PictureOfPassport" type="text" required></ion-input>
      </ion-item>
    </div>
    <ion-button color="dark" expand="full" (click)="savePost()">Get Quotation</ion-button>
  </ion-list>
</ion-content>