.sec{
    height: 25%;
    background-color: red
}
.first{
    height: 75%;
    background-color: blue
}
ion-slides{
    height: 100% !important;
}
ion-slide{
    height: 100% !important;
}
.swiper-slide img{
    height: 100% !important;
}
ion-icon {
    font-size: x-large;
    text-align: center;
    margin: auto;
    color: #ffffff;
} 

.fifty{
    height: 50% ;
    background-color: slateblue
}
ion-button {
    height: 100%;
}
.actName{
    white-space: pre-line;
}