<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides pager="true" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
    <ion-slide>
      <img src="../../assets/img/bg1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/bg2.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/bg3.jpg">
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col size="6" class="nopadding">
      <ion-card>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="paper"></ion-icon>
          </ion-col>
          <ion-col size="8" class="grid">
            <span class="headd">
              Policy
              issuance
            </span>
            <span class="desc">
              add export
              insurance request.

            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="nopadding">
      <ion-card>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="timer"></ion-icon>
          </ion-col>
          <ion-col size="8" class="grid">
            <span class="headd">
              Transaction
              history.
            </span>
            <span class="desc">
              view transaction
              history log.
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col size="6" class="nopadding">
      <ion-card>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="person"></ion-icon>
          </ion-col>
          <ion-col size="8" class="grid">
            <span class="headd">
              User Profile
            </span>
            <span class="desc">
              User info, and data
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="nopadding">
      <ion-card>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="call"></ion-icon>
          </ion-col>
          <ion-col size="8" class="grid">
            <span class="headd">
              Contact us
            </span>
            <span class="desc">
              send your questions
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>



    <ion-col size="6" class="nopadding">
      <ion-card>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="settings"></ion-icon>
          </ion-col>
          <ion-col size="8" class="grid">
            <span class="headd">
              Settings
            </span>
            <span class="desc">
              manage your
              account.. etc.
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="nopadding">
      <ion-card>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="information"></ion-icon>
          </ion-col>
          <ion-col size="8" class="grid">
            <span class="headd">
              About
            </span>
            <span class="desc">
              app info,
              about services
            </span>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>





  <button ion-button (click)="SaveData()">Save Datad</button>
  <h3>{{resultMessage}}</h3>
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
    your guide.</p>

  <ion-content padding>
    <button ion-button (click)="SaveData()">Save Datad</button>
    <h3>{{resultMessage}}</h3>
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>




    <ion-button (click)="login()">Login</ion-button>

  </ion-content>