
ion-icon {
    font-size: x-large;
    text-align: center;
    margin: auto;
    display: flex;
    border: 1px solid #e0e8f5;
    padding: 5px;
    border-radius: 6vw;
    background-color: #f7f3f3;
    color: #8cb6ff;
}
.headd{
     color: #3171e0;
     font-size: 5vw;
    
}
.desc{
    color: #949090
}
.grid{
    display: grid;
}
ion-card{
    min-height: 90%;
}
   .auto{
    margin: auto;
}