<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon name="notifications" (click)="notiPage()"></ion-icon>

    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div class="first">
    <ion-slides pager="true" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" [options]="slideOpts">
      <ion-slide>
        <img src="../../assets/img/bg1.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/bg2.jpg">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/bg3.jpg">
      </ion-slide>
    </ion-slides>
  </div>

  <div class="sec">
    <ion-row class="fifty">
      <ion-col size="4" class="nopadding">
        <ion-button expand="full" class="nomargin">
          <div>
            <div>
              <ion-icon name="paper"></ion-icon>
            </div>
            <div class="actName">
              Policy issuance
            </div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="nopadding">
        <ion-button expand="full" class="nomargin">
          <div>
            <div>
              <ion-icon name="time"></ion-icon>
            </div>
            <div class="actName">
              Transaction history
            </div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="nopadding">
        <ion-button expand="full" class="nomargin">
          <div>
            <div>
              <ion-icon name="notifications"></ion-icon>
            </div>
            <div class="actName">
              Notifications
            </div>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row class="fifty">
      <ion-col size="4" class="nopadding">
        <ion-button expand="full" class="nomargin">
          <div>
            <div>
              <ion-icon name="call"></ion-icon>
            </div>
            <div class="actName">
              Contact Us
            </div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="nopadding">
        <ion-button expand="full" class="nomargin">
          <div>
            <div>
              <ion-icon name="settings"></ion-icon>
            </div>
            <div class="actName">
              Settings
            </div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="nopadding">
        <ion-button expand="full" class="nomargin">
          <div>
            <div>
              <ion-icon name="information-circle"></ion-icon>
            </div>
            <div class="actName">
              Information
            </div>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>










  <!--   <button ion-button (click)="SaveData()">Save Datad</button>
  <h3>{{resultMessage}}</h3>
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
    your guide.</p>


    <button ion-button (click)="SaveData()">Save Datad</button>
    <h3>{{resultMessage}}</h3>
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>
 -->
  <!-- 
    <ion-button (click)="login()">Login</ion-button>
  -->

</ion-content>