<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Office</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formgroup">
    <ion-list class="top" lines="none">
      <ion-item lines="none">
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input *ngIf="!(FullName.hasError('required') && FullName.touched)" formControlName="FullName" [(ngModel)]="objOffice.Data.FullName"
          name="FullName" type="text" required></ion-input>
        <ion-input [(ngModel)]="objOffice.Data.FullName" *ngIf="FullName.hasError('required') && FullName.touched"
          formControlName="FullName" name="FullName" type="text" required placeholder="Enter a valid Name" color="danger"
          class="error"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nationality</ion-label>
        <ionic-selectable placeholder="---Please Select---" [(ngModel)]="Nationallity" name="NationalID" [items]="countries"
          itemValueField="Id" formControlName="National" itemTextField="CountryName" [canSearch]="true" (onChange)="Nationality($event)"
          required>
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Value of Coverage</ion-label>
        <ion-select placeholder="---Please Select---" [(ngModel)]="objOffice.Data.Fk_SomeInsured" name="Fk_SomeInsured"
          formControlName="vCoverage">
          <ion-select-option *ngFor='let in of Counter(6) ;let i = index' value="{{ (i+1) * 50000}}">{{ (i+1) * 50000 |
            number : '0.0'}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-radio-group formControlName="IsApart" [(ngModel)]="objOffice.Data.IsApartment">
        <ion-row>
          <ion-col size="6" class="nopadding">
            <ion-item (click)="ShowControls(1)">
              <ion-label> Apartment</ion-label>
              <ion-radio slot="start" name="IsApartment" [value]="true" checked>
              </ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="nopadding">
            <ion-item (click)="ShowControls(2)">
              <ion-label>Villa</ion-label>
              <ion-radio slot="start" name="IsApartment" [value]="false">
              </ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
      <ion-item lines="none">
        <ion-label *ngIf='apartment' position="stacked">Size of Apartment</ion-label>
        <ion-label *ngIf='!apartment' position="stacked">Size of Villa</ion-label>
        <ion-input *ngIf="!(size.hasError('required') && size.touched)" formControlName="size" [(ngModel)]="objOffice.Data.SizeOfApartmentOrVilla"
          name="SizeOfApartmentOrVilla" type="number" required>
        </ion-input>
        <ion-input [(ngModel)]="objOffice.Data.SizeOfApartmentOrVilla" *ngIf="size.hasError('required') && size.touched"
          formControlName="size" name="size" type="number" required placeholder="Enter a valid size" color="danger"
          class="error"></ion-input>
      </ion-item>
      <ion-item lines="none" (click)="map();">
        <ion-label position="stacked">Detailed Location</ion-label>
        <ion-input *ngIf="!(DetailedLoc.hasError('required') && DetailedLoc.touched)" formControlName="DetailedLoc"
          [(ngModel)]="objOffice.Data.DetailedLocation" name="DetailedLocation" type="number" required></ion-input>
        <ion-input [(ngModel)]="objOffice.Data.DetailedLocation" *ngIf="DetailedLoc.hasError('required') && DetailedLoc.touched"
          formControlName="DetailedLoc" name="DetailedLocation" type="text" required placeholder="Enter a valid Name"
          color="danger" class="error">
        </ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf='!apartment'>
        <ion-label position="stacked">Number of Floors villa </ion-label>
        <ion-input *ngIf="!(floor.hasError('required') && floor.touched)" formControlName="floor" [(ngModel)]="objOffice.Data.NumberOfFloorsIfVilla"
          name="NumberOfFloorsIfVilla" type="number" required>
        </ion-input>
        <ion-input [(ngModel)]="objOffice.Data.NumberOfFloorsIfVilla" *ngIf="floor.hasError('required') && floor.touched"
          formControlName="floor" name="floor" type="number" required placeholder="Enter a valid number" color="danger"
          class="error"></ion-input>
      </ion-item>
      <!-- edit -->
      <ion-item lines="none" *ngIf='apartment'>
        <ion-label position="stacked">Floor Number apartment </ion-label>
        <ion-input *ngIf="!(floor.hasError('required') && floor.touched)" formControlName="floor" [(ngModel)]="objOffice.Data.WhichFloorIfApartment"
          name="WhichFloorIfApartment" type="number" required>
        </ion-input>
        <ion-input [(ngModel)]="objOffice.Data.WhichFloorIfApartment" *ngIf="floor.hasError('required') && floor.touched"
          formControlName="floor" name="floor" type="number" required placeholder="Enter a valid number" color="danger"
          class="error"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Number of rooms?</ion-label>
        <ion-input *ngIf="!(room.hasError('required') && room.touched)" formControlName="room" [(ngModel)]="objOffice.Data.NumberOFRooms"
          name="NumberOFRooms" type="number" required></ion-input>
        <ion-input [(ngModel)]="objOffice.Data.NumberOFRooms" *ngIf="room.hasError('required') && room.touched"
          formControlName="room" type="number" required placeholder="Enter a valid number" color="danger" class="error">
        </ion-input>
      </ion-item>
      <ion-radio-group formControlName="IsRent" [(ngModel)]="objOffice.Data.IsRented">
        <ion-row>
          <ion-col size="6" class="nopadding">
            <ion-item>
              <ion-label> Rented</ion-label>
              <ion-radio slot="start" [value]="true" checked name="IsRented">
              </ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="nopadding">
            <ion-item>
              <ion-label>Owned</ion-label>
              <ion-radio slot="start" [value]="false" name="IsRented">
              </ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
      <ion-radio-group formControlName="IsOccuied" [(ngModel)]="objOffice.Data.IsOccuied">
        <ion-row>
          <ion-col size="6" class="nopadding">
            <ion-item>
              <ion-label> Occupied</ion-label>
              <ion-radio slot="start" [value]="true" checked name="IsOccuied">
              </ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="nopadding">
            <ion-item>
              <ion-label>UnOccupied</ion-label>
              <ion-radio slot="start" [value]="false" name="IsOccuied">
              </ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
      <ion-item lines="none">
        <ion-label position="stacked">Age Of Building</ion-label>
        <ion-input *ngIf="!(Building.hasError('required') && Building.touched)" formControlName="Building" [(ngModel)]="objOffice.Data.DateApartmentOrVillaBuilt"
          name="DateApartmentOrVillaBuilt" type="date" required>
        </ion-input>
        <ion-input [(ngModel)]="objOffice.Data.DateApartmentOrVillaBuilt" *ngIf="Building.hasError('required') && Building.touched"
          formControlName="Building" name="Building" type="date" required placeholder="Enter a valid Name" color="danger"
          class="error"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Company Registration Number</ion-label>
        <ion-input *ngIf="!(rName.hasError('required') && rName.touched)" formControlName="rName" [(ngModel)]="objOffice.Data.CompanyRegistrationNumber"
          name="CompanyRegistrationNumber" type="Number" required></ion-input>
        <ion-input [(ngModel)]="objOffice.Data.CompanyRegistrationNumber" *ngIf="rName.hasError('required') &&
        rName.touched"
          formControlName="rName" name="rName" type="text" required placeholder="Enter a valid Phone Number" color="danger"
          class="error">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">What is Occupancy? الوظيفة الحالية</ion-label>
        <ion-input *ngIf="!(Occupancy.hasError('required') && Occupancy.touched)" formControlName="Occupancy"
          [(ngModel)]="objOffice.Data.Occupancy" name="Occupancy" type="text" required></ion-input>
        <ion-input [(ngModel)]="objOffice.Data.Occupancy" *ngIf="Occupancy.hasError('required') && Occupancy.touched"
          formControlName="Occupancy" name="Occupancy" type="text" required placeholder="Enter a valid Name" color="danger"
          class="error">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Number Of employee</ion-label>
        <ion-input *ngIf="!(NumberOfEmployee.hasError('required') && NumberOfEmployee.touched)" formControlName="NumberOfEmployee"
          [(ngModel)]="objOffice.Data.NumberOfEmployees" name="NumberOfEmployees" type="Number" required></ion-input>
        <ion-input [(ngModel)]="objOffice.Data.NumberOfEmployees" *ngIf="NumberOfEmployee.hasError('required') &&
        NumberOfEmployee.touched"
          formControlName="NumberOfEmployee" name="NumberOfEmployee" type="text" required placeholder="Enter a valid Phone Number"
          color="danger" class="error">
        </ion-input>
      </ion-item>
      <ion-radio-group formControlName="IsAvailability" [(ngModel)]="objOffice.Data.IsAvailability">
        <ion-row>
          <ion-col size="11" class="auto">
            <ion-label position="stacked">Secured Availability?</ion-label>
          </ion-col>
          <ion-col size="6" class="nopadding">
            <ion-item>
              <ion-label> Yes</ion-label>
              <ion-radio slot="start" [value]="true" checked name="IsAvailability"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="nopadding">
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" [value]="false" name="IsAvailability"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
      <ion-item lines="none">
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input *ngIf="!(EmailAddress.hasError('required') && EmailAddress.touched)" formControlName="EmailAddress"
          [(ngModel)]="objOffice.Data.Email" name="Email" type="text" required></ion-input>
        <ion-input [(ngModel)]="objOffice.Data.Email" *ngIf="EmailAddress.hasError('required') && EmailAddress.touched"
          formControlName="EmailAddress" name="EmailAddress" type="text" required placeholder="Enter a valid Name"
          color="danger" class="error">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input *ngIf="!(PhoneNumber.hasError('required') && PhoneNumber.touched)" formControlName="PhoneNumber"
          [(ngModel)]="objOffice.Data.Telephone" name="Telephone" type="Number" required></ion-input>
        <ion-input [(ngModel)]="objOffice.Data.Telephone" *ngIf="PhoneNumber.hasError('required') &&
                PhoneNumber.touched"
          formControlName="PhoneNumber" name="PhoneNumber" type="text" required placeholder="Enter a valid Phone Number"
          color="danger" class="error">
        </ion-input>
      </ion-item>
      <ion-row>
        <!--  <ion-col size="11" class="auto">
          <ion-button expand="full" (click)="img();" class="top" color="medium" [(ngModel)]="objOffice.Data.Images"
            name="Images" formControlName="imge">
            Upload Img
            <ion-icon slot="end" name="add"></ion-icon>
          </ion-button>
          <p>
            <img src="{{myphoto}}">
          </p>
        </ion-col>
        -->
        <ion-col size="11" class="auto">
          <ion-button expand="full" (click)="InsertOffice();">
            Get Quotation
          </ion-button>
        </ion-col>
        <ion-col size=" 11" class="auto">
          <span class="note">
            <strong>Note:</strong>
            Constructions with more than 30 years of age are rejected.
          </span>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>